<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Pedidos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment (ionChange)="change($event)" [(ngModel)]="selectedSegment">
        <ion-segment-button value="open">
            <ion-label>Em aberto</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sent">
            <ion-label>Enviados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="received">
            <ion-label>Recebidos</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div>
        <div *ngIf="selectedSegment === 'open'">
            <ion-list>
                <ion-item (click)="openActions(item)" button *ngFor="let item of
                cartService.openItems">
                    <ion-avatar slot="start">
                        <img [src]="item.picture">
                    </ion-avatar>
                    <ion-label text-wrap>
                        <h3>{{ item.name }}</h3>
                        <p>R$ {{ item.price }}</p>
                        <p [class]="item.status">{{ getStatus(item.status) }}</p>
                    </ion-label>
                    <ion-thumbnail slot="end">
                        <p class="quantity">Qtd: {{ item.quantity }}</p>
                    </ion-thumbnail>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-item disabled *ngFor="let item of cartService.waitingItems">
                    <ion-avatar slot="start">
                        <img [src]="item.picture">
                    </ion-avatar>
                    <ion-label text-wrap>
                        <h3>{{ item.name }}</h3>
                        <p>R$ {{ item.price }}</p>
                        <p [class]="item.status">{{ getStatus(item.status) }}</p>
                    </ion-label>
                    <ion-thumbnail slot="end">
                        <p class="quantity">Qtd: {{ item.quantity }}</p>
                    </ion-thumbnail>
                </ion-item>
            </ion-list>
        </div>

        <div *ngIf="selectedSegment === 'sent'">
            <ion-card *ngFor="let order of cartService.sentOrders">
                <ion-card-header>
                    <ion-card-subtitle>
                        <ion-chip color="secondary">
                            <ion-label>Saiu para entrega: {{ order.sent_at }}</ion-label>
                        </ion-chip>
                        <p>{{ order.delivery_address }}</p>
                    </ion-card-subtitle>
                    <ion-card-title color="tertiary">R$ {{ order.price }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-list>
                        <ion-item *ngFor="let item of order.items">
                            <ion-label text-wrap color="medium">{{ item.quantity }}x {{ item.name }}</ion-label>
                        </ion-item>
                    </ion-list>
                    <ion-button (click)="receive(order.id)" color="success" size="small">
                        <ion-icon slot="start" name="checkmark"></ion-icon>
                        Recebido
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngIf="selectedSegment === 'received'">
            <ion-card *ngFor="let order of cartService.receivedOrders">
                <ion-card-header>
                    <ion-card-subtitle>
                        <ion-chip color="secondary">
                            <ion-label>Recebido: {{ order.updated_at }}</ion-label>
                        </ion-chip>
                        <p>{{ order.delivery_address }}</p>
                    </ion-card-subtitle>
                    <ion-card-title color="tertiary">R$ {{ order.price }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <ion-list>
                        <ion-item *ngFor="let item of order.items">
                            <ion-label text-wrap color="medium">{{ item.quantity }}x {{ item.name }}</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="selectedSegment === 'open' && cartService.openItems.length > 0">
    <ion-toolbar>
        <ion-title>
            Total: R$ {{ totalPrice() }}
            <ion-text [color]="shippingInfo.color" class="shipping-info">{{shippingInfo.text}}</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()" [disabled]="noOpenItems()" color="success">
                Confirmar
                <ion-icon slot="start" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
